@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Fira+Mono:wght@400;500;700&display=swap');
@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/nord.css';
@import '~flatpickr/dist/flatpickr.css';
@import './flatpickr_nord_dark.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * GENERAL SITE STYLES AND FUNCTIONS
 */
html, body {
    @apply font-sans bg-nord-night-base text-nord-storm-base h-full
}
body {
    &.modal-open {
        @apply overflow-hidden;
    }
}
header {
    @apply bg-nord-night-light;
    & nav {
        @apply grid grid-cols-4 justify-between;

        & .nav-left {
            @apply justify-self-start self-center
        }
        & .nav-right {
            @apply col-span-3 justify-self-end self-center
        }

        & .nav-item {
            @apply mx-2 my-2
        }

        & .nav-brand {
            @apply cursor-pointer;
            img {
                width: 32px;
                height: 32px;
                @apply inline-block my-2 ml-2;
            }
        }
    }
}

.modal-overlay {
    &.modal-open {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        @apply bg-nord-night-base block absolute w-full h-full z-10 opacity-75;
    }
}
.modal {
    width: 640px;
    @apply hidden;

    &.modal-open {
        @apply  bg-nord-night-lightest absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 block z-20 p-4
    }

    & img {
        @apply w-32 m-auto
    }

    & h1 {
        @apply text-center text-5xl m-2
    }

    & a {
        @apply text-nord-aurora-yellow
    }

    & small {
        @apply block w-full text-right
    }

    & .language-hover,
    & .author-hover,
    & .password-hover {
        @apply text-nord-aurora-yellow cursor-pointer;
    }
}

.info-trigger {
    font-size: 12px;
    @apply fixed w-6 h-6 right-2 bottom-2 p-1 cursor-pointer
        font-mono text-nord-storm-base text-center leading-3
        border-2 border-nord-storm-base rounded-full;
}

.help-trigger {
    font-size: 12px;
    @apply fixed w-6 h-6 right-2 bottom-10 p-1 cursor-pointer
        font-mono text-nord-storm-base text-center leading-3
        border-2 border-nord-storm-base rounded-full;
}

.CodeMirror,
.pasta {
    height: 100%;
    @apply font-mono whitespace-pre
}

.markedLines {
    @apply bg-nord-frost-bluer
}

.pasta-show {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "pasta-container pasta-info";
    width: 100vw;
    height: 100vh;

    & .pasta-container {
        grid-area: pasta-container;
    }
    & .pasta-info {
        grid-area: pasta-info;
        @apply border-l-2 border-l-nord-night-light p-4 text-sm;

        .side-item {
            @apply block w-full mb-2;
        }

        .pasta-details {
            h2 {
                @apply text-center text-xl mt-8 mb-4;
            }
            span {
                @apply block w-full pb-1 mb-2 border-b border-b-nord-night-light;

                &:last-child {
                    @apply border-none;
                }
            }
        }
    }
}

/**
 * FORMS
 */
.input,
.select,
.button {
    @apply w-full h-10 bg-nord-night-light text-sm border border-nord-night-light
    focus:border-nord-night-lightest focus:ring-0 focus:outline-none;
}

.select {
    @apply pl-2;
}

.input-checkbox {
    @apply h-6 w-6 mr-2 bg-nord-night-light text-nord-night-lightest ring-0 shadow-none outline-none border border-nord-night-light
    checked:bg-nord-night-light focus:ring-0 focus:shadow-none focus:outline-none focus:border-nord-night-lightest;

    &:focus {
        box-shadow: none !important;
    }

}

label {
    @apply w-full h-10 text-sm leading-6 inline-flex items-center;
}


/**
 * ERROR PAGES
 */
.error-container {
    @apply h-full w-full
}
.error-human {
    @apply grid grid-cols-1 h-1/2 w-full place-content-center place-items-center;

    .error-container {
        @apply w-2/3 md:w-full text-center
    }

    .error-head {
        @apply text-7xl -mt-16 mb-16
    }

    .error-desc {
        @apply text-3xl
    }

    .error-link {
        @apply text-base;
    }
}

.error-techie {
    @apply fixed text-right bottom-0 right-0 m-2;
    .error-message {
        @apply text-sm
    }
}
